.account-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  h2, h3 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 16px;
    margin: 10px 0;
    color: #444;
  }
  
  strong {
    color: #222;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  li p {
    margin: 8px 0;
  }
  
  .error {
    color: red;
    text-align: center;
    font-weight: bold;
  }
  

  .qr-code {
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }
  
  .btn{
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;

  }